/* 基本樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a2e;
  color: #fff;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 375px; /* 限制寬度為手機範圍 */
  height: 100vh; /* 滿版高度 */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #1a1a2e;
}

/* Header 樣式 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  height: 80px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 25px;
  height: 20px;
}

.hamburger-menu span {
  width: 100%;
  height: 3px;
  background-color: #FFFFFF;
}

/* 漢堡菜單樣式 */
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%; /* 在手機上佔80%寬度 */
  height: 100%;
  background-color: #7D88B1;
  transition: right 0.3s ease; /* 菜單滑入效果 */
  z-index: 1000;
}

.menu.open {
  right: 0; /* 菜單滑出效果 */
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-content a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

/* 星球地圖背景 */
#planet-map {
  width: 100%;
  height: 100%;
  background-image: url("星球/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease; /* 星球佈局切換的平滑過渡 */
}

/* 星球排列 */
.planet {
  position: absolute;

}

/* 星球圖片的初始樣式 */
.planet img {
  transition: transform 0.2s ease, filter 0.3s ease, box-shadow 0.3s ease;
  border-radius: 100%; /* 加圓角，讓星球看起來像按鈕 */
  width: 100%; /* 確保圖片充滿星球容器 */
  height: 100%; /* 確保圖片充滿星球容器 */
  object-fit: cover; /* 確保圖片完全顯示在圓形內 */
}

/* 點擊星球後顯示光暈的效果 */
.planet.clicked img {
  filter: none; /* 顯示原始色彩 */
  transform: scale(1.1); /* 放大一點點 */
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.7); /* 增加淡淡的白色光暈 */
}



/* 單獨設定星球圖片的大小 */
.planet-F1 img { width: 90px; height: auto; }
.planet-F2 img { width: 60px; height: auto; }
.planet-F3 img { width: 70px; height: auto; }
.planet-F4 img { width: 60px; height: auto; }
.planet-F5 img { width: 60px; height: auto; }
.planet-F6 img { width: 100px; height: auto; }
.planet-F7 img { width: 65px; height: auto; }
.planet-F8 img { width: 75px; height: auto; }
.planet-F9 img { width: 70px; height: auto; }
.planet-F10 img { width: 60px; height: auto; }
.planet-F11 img { width: 70px; height: auto; }
.planet-F12 img { width: 70px; height: auto; }
.planet-F13 img { width: 90px; height: auto; }

.layout-1 .planet-F1 { top: 550px; left: 10px; } 
.layout-1 .planet-F2 { top: 460px; left: 20px; } 
.layout-1 .planet-F3 { top: 390px; left: 20px; } 
.layout-1 .planet-F4 { top: 300px; left: 20px; } 
.layout-1 .planet-F5 { top: 210px; left: 20px; }  
.layout-1 .planet-F6 { top: 110px; left: 10px; }   
.layout-1 .planet-F7 { top: 30px; left: 20px; }
.layout-1 .planet-F8 { top: 20px; left: 110px; }  /* 1-2   */
.layout-1 .planet-F9 { top: 260px; left: 100px; } 
.layout-1 .planet-F10 { top: 40px; left: 210px; } 
.layout-1 .planet-F11 { top: 260px; left: 200px; } 
.layout-1 .planet-F12 { top: 30px; left: 290px; } 
.layout-1 .planet-F13 { top: 260px; left: 285px; }


/* layout-3 的星球排列 */

.layout-3 .planet-F1 { top: 50px; left: 30px; }
.layout-3 .planet-F4 { top: 70px; left: 260px; }
.layout-3 .planet-F13 { top: 20px; left: 150px; }

.layout-3 .planet-F3 { top: 400px; left: 260px; }
.layout-3 .planet-F10 { top: 240px; left: 280px; }
.layout-3 .planet-F11 { top: 310px; left: 190px; }

.layout-3 .planet-F6 { top: 280px; left: 40px; }
.layout-3 .planet-F8 { top: 160px; left: 25px; }
.layout-3 .planet-F9 { top: 120px; left: 130px; }
.layout-3 .planet-F12 { top: 210px; left: 180px; }

.layout-3 .planet-F2 { top: 380px; left: 30px; }
.layout-3 .planet-F5 { top: 470px; left: 70px; }
.layout-3 .planet-F7 { top: 420px; left: 150px; }


/* 星球介紹框樣式 */
.planet-info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 水平和垂直居中 */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  z-index: 1000;
}

.layout-switch-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #3c5473;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.layout-switch-button:hover {
  background-color: #5c7ba8;
}

.footer {
  margin-top: 30px;
}

.footer button, .switch-mode ,.close-button{
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #3c5473;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.footer button:hover, .switch-mode:hover {
  background-color: #5c7ba8;
}

/* 資訊框背景 */
.info-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden; /* 防止超出屏幕 */
}

/* 資訊框內容 */
.info-content {
  background-color: #222;
  color: white;
  padding: 20px;
  padding-top: 50px;
  border-radius: 10px;
  width: 90%; /* 調整寬度以適應不同的螢幕 */
  max-width: 500px; /* 限制最大寬度 */
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 加上陰影讓框更突出 */
}

/* 關閉按鈕樣式 */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 10px;
  margin: 10px 0;
  background-color: #3c5473;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.close-button:hover {
  background-color: #5c7ba8;
}